// app global css in SCSS form
h1 {
  font-size: 3em;
  font-family: 'Roboto-font';
}
h2 {
  font-size: 2.25em;
  font-family: 'Roboto-font';
}
h3 {
  font-size: 1.25em;
  font-family: 'Roboto-font';
}
li {
  font-size: 1em;
  color: red;
}
